:root {
	--accent-primary: #9273ed;
	--accent-secondary: #f773b1;
	--background: var(--primary), var(--white);
	--background-header: var(--white);
	--foreground: #222939;
	--primary: #e5e9f0;
	--primary-foreground: #0f1219;
	--secondary: #222939;
	--secondary-foreground: #60739f;
	--secondary-foreground-shadow: #60739f40;
	--white: #fff;
	--black: #0f1219;
	--black-shadow: #0f12190c;
	--box-shadow:
		0 2px 6px var(--secondary-foreground-shadow),
		0 8px 24px var(--secondary-foreground-shadow),
		0 16px 32px var(--secondary-foreground-shadow);
	--transition-function: cubic-bezier(0.4, 0, 0.2, 1);
	--transition-duration: 150ms;
	--content-width: 960px;
}

html {
	background-color: var(--white);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--primary), var(--black);
		--background-header: var(--black);
		--foreground: var(--white);
		--primary: #181b24;
		--primary-foreground: #e5e9f0;
		--secondary: #e5e9f0;
	}

	html {
		background-color: var(--black);
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-sans);
	background: linear-gradient(var(--background)) no-repeat;
	background-size: 100% 600px;
	color: var(--foreground);
	font-size: 1.25em;
	line-height: 1.5em;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0 0.5rem 0;
	color: rgb(var(--primary-foreground));
	line-height: 1.2;
}

h1 {
	font-size: 2.75em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2.25em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.75em;
}

h6 {
	font-size: 1.5em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent-primary);
	transition: var(--transition-duration) var(--transition-function);
}

a:hover {
	color: var(--accent-secondary);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: var(--primary);
	border-radius: 2px;
}

pre {
	font-family: var(--font-mono);
	font-size: 0.8em;
	line-height: 1.5;
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent-primary);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1em;
}

hr {
	border: none;
	border-top: 1px solid var(--primary);
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7: 0 height clip to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* modern browsers: clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together */
	white-space: nowrap;
}

.desktop-only {
	display: revert;
}

.mobile-only {
	display: none;
}

@media (max-width: 720px) {
	.desktop-only {
		display: none;
	}

	.mobile-only {
		display: revert;
	}
}
